* {
    font-family: "JetBrainsMono", "Noto Sans", "Roboto Condensed", sans-serif;
    font-size: 14px;
    color: #fff;
}

window#waybar {
  /* Transparent waybar. Make sure to comment out background-color: and border: */
  background: rgba(0,0,0,0.35);
  /* background-color: #1e1e2e; */
  /* border: 2px solid #313244; */
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#clock,
#cpu,
#disk,
#memory,
#wireplumber,
#language,
#custom-spotify,
#network,
#temperature
{
	font-weight: bold;
}

#workspaces {
	margin: 0px 0px;
	padding: 0 0;
	margin-left: 2px; /* Align with window left border */
}

#workspaces button {
	margin: 0 1px;
	border-radius: 0px;
	font-weight: bold;
	background-color: #1f1f1f;
	color: #FFFFFF;
}

#workspaces button.active {
	background-color: #0d63a5;
	color: #FFFFFF;
}

@keyframes blink {
    to {
        color: #000000;
    }
}

#clock {
	margin-left: 2px;
	margin-right: 2px;
}

#cpu {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#tray {
	
}
#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#wireplumber.muted {
	color: #d24646;
}

#custom-power {
	margin-right: 14px;
	margin-left: 4px;
	font-size: 22px;
	padding: 0 0 0 0;
	color: #138eec;
}

#language {
	padding: 0 0 0 0;
	margin-right: 2px;
}

.custom-spotify {
    padding: 0 10px;
    margin: 0 0 0 0;
}

#network {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
